# Python cache
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
myvenv/
ENV/
env/
.venv/

# macOS system files
.DS_Store

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints

# Logs and outputs
*.log
*.out

# Model weights (do NOT ignore checkpoints)
# *.pth
# *.pt
# *.h5

# Data folders (uncomment below if you want to ignore large data)


# Images and outputs (add more if needed)
#

# VS Code settings
.vscode/
